<form action="" method="post">
    <input type="text" name="value_first">
    <br><input type="text" name="value_second">
    <br>
    -<input type="radio" value="-" name="operation">
    /<input type="radio" value="/" name="operation">
    *<input type="radio" value="*" name="operation">
    +<input type="radio" value="+" name="operation">
    <br><input type="submit">
</form>